{% extends "./base.njk" %}
{% block content %}
<main>
  <article>
    {{ content | safe }}
    
    {% if images %}
      {{ images | renderImages | safe }}
    {% endif %}
  </article>
</main>
{% endblock %}
