{% extends "./base.njk" %}
{% block content %}
{% set social_image = featured_image or ('/assets/social/' + (permalink | replace('/', '') ) + '.jpg') %}
<main>
  <article>
    {{ content | safe }}
  </article>
</main>
{% endblock %}
